<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cupons fiscais</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let invoice of invoices | async" tappable (click)="openDetail(invoice)">
      <h2>{{invoice.emitente.nome_fantasia || invoice.emitente.razao_social}}</h2>
      <h3>{{invoice.emitente.municipio.nome}} - {{invoice.data | date:'dd/MM/y'}}</h3>
      <p>{{invoice.produtos.length}} produtos por {{invoice.valor | currencyFormat:'R$'}}</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons end *ngIf="isCordova()">
      <button ion-button icon-right icon-only color="royal" (click)="scan()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
