<!--
  Generated template for the InvoiceDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalhes do cupom</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <!-- <td class="title">
                <img src="http://nextstepwebs.com/images/logo.png" style="width:100%; max-width:300px;">
              </td> -->
              <td>
                <!-- EMITIDA EM: {{invoice?.data}} -->
                {{getPlaceName()}}
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                {{invoice.emitente.endereco}}<br>
                {{invoice.emitente.bairro}}<br>
                {{invoice.emitente.municipio.nome}}
              </td>

              <td>
                EMISSÃO: {{invoice?.data | date:'dd/MM/y'}}<br>
                {{invoice.emitente.cnpj}}<br>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="heading">
        <td>
          ITEM
        </td>

        <td>
          VL ITEM
        </td>
      </tr>

      <tr class="item" *ngFor="let item of invoice.produtos">
        <td>
          {{item.qtd}} ({{item.unidadeComercial}}) X {{item.valorUnitario}} {{item.descricao}}
          <br>
          <span class="desconto" *ngIf="item.desconto && item.desconto > 0">Desconto: -{{item.desconto | currencyFormat:'R$'}}</span>
        </td>

        <td>
          {{item.valor  | currencyFormat:'R$'}}
        </td>
      </tr>

      <tr class="total">
        <td colspan="2">
          VALOR TOTAL: {{invoice.valor | currencyFormat:'R$'}}
        </td>
      </tr>
    </table>
  </div>

</ion-content>
