product {

  $container-size: 250px;
  .container{
    /* Rectangle 97 Copy: */

    background: #FFFFFF;
    box-shadow: 0 16px 34px 7px rgba(121,121,121,0.05);
    border-radius: 5px;
    min-height: $container-size;
    // max-height: $container-size;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  .image {
    margin: 15px 35px 15px 35px;
    img {
      width: 90px;
    }
  }

  .name {
    /* Avocade: */
    text-align: center;
    font-family: FishChips;
    color: #373738;
    padding: 0 10px 0 10px;
    line-height: 1.2em;
    font-size: 1.4em;
    margin-top: 15px;
  }

  .price {
    /* $3.62: */
    font-size: 1.8em;
    color: #449534;
    letter-spacing: 1px;
    margin: auto;
    font-family: FishChips;
    font-weight: bold;
  }

  .add-cart {
    background: #FFFFFF;
    border-top-style: solid;
    border-top-color: #DEDDDD;
    border-top-width: 0.1px;
    button {
      font-family: FishChips;
      color: #449534;
      letter-spacing: 1px;
    }
  }

  .scroll-content {
    background-color: rgb(247, 246, 245) !important;
  }


}

