<!-- Generated template for the ProductComponent component -->
<div class="container">
  <div class="image">
    <img [src]="product.thumbnail"/>
  </div>
  <div class="name">
    <span>{{product.descricaoAmigavel}}</span>
  </div>
  <div class="price">
    <span>{{product.precoMedio | currencyFormat:'R$'}}</span>
  </div>
  <!-- <div class="add-cart">
    <button ion-button icon-left clear block>
      <ion-icon ios="ios-basket" md="md-basket"></ion-icon>
      Adicionar
    </button>
  </div> -->
</div>
