// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$linear-motim: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
$colors: (
  primary:    #3e4475,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$content-padding: 5px;

@font-face {
	font-family: "FishChips";
	src: url("../assets/fonts/Fish_and_Chips_2.0-Regular.otf") format("otf"),
		 url("../assets/fonts/Fish_and_Chips_2.0-Regular.woff2") format("woff2"),
		 url("../assets/fonts/Fish_and_Chips_2.0-Regular.woff") format("woff"),
		 url("../assets/fonts/Fish_and_Chips_2.0-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "CornishStylisticOne";
	src: url("../assets/fonts/Cornish_Pasty_Stylistic_One-Regular.otf") format("otf"),
		 url("../assets/fonts/Cornish_Pasty_Stylistic_One-Regular.woff2") format("woff2"),
		 url("../assets/fonts/Cornish_Pasty_Stylistic_One-Regular.woff") format("woff"),
		 url("../assets/fonts/Cornish_Pasty_Stylistic_One-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "CornishStylisticTwo";
	src: url("../assets/fonts/Cornish_Pasty_Stylistic_Two-Regular.otf") format("otf"),
		 url("../assets/fonts/Cornish_Pasty_Stylistic_Two-Regular.woff2") format("woff2"),
		 url("../assets/fonts/Cornish_Pasty_Stylistic_Two-Regular.woff") format("woff"),
		 url("../assets/fonts/Cornish_Pasty_Stylistic_Two-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "CornishPasty";
	src: url("../assets/fonts/Cornish_Pasty-Regular.otf") format("otf"),
		 url("../assets/fonts/Cornish_Pasty-Regular.woff2") format("woff2"),
		 url("../assets/fonts/Cornish_Pasty-Regular.woff") format("woff"),
		 url("../assets/fonts/Cornish_Pasty-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "EnglishCastles";
	src: url("../assets/fonts/English_Castles_2.0-Regular.otf") format("otf"),
		 url("../assets/fonts/English_Castles_2.0-Regular.woff2") format("woff2"),
		 url("../assets/fonts/English_Castles_2.0-Regular.woff") format("woff"),
		 url("../assets/fonts/English_Castles_2.0-Regular.ttf") format("truetype");
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
