page-product-details {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 5px;
  }

  .unit {
    border-style: solid;
    border-radius: 30%;
    padding: 5px;
    font-weight: bold;
    border-color: color($colors, primary);
    label {
      color: color($colors, primary);
    }
  }

  .avg-price {
    color: rgb(115, 115, 115);
    font-size: 1.7em;
    font-weight: bold;
  }

  .desc {
    color: rgb(44, 67, 139);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .img {
    img {
      width: 200px;
      margin: 15px 10px 15px 10px;
    }
  }
}
