<!--
  Generated template for the ProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Mais sobre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="info">
    <div class="img">
      <img [src]="product.thumbnail" />
    </div>
    <div class="unit">
      <label color="primary">{{product.unidade}}</label>
    </div>
    <div class="avg-price">
      <p>{{product.precoMedio | currencyFormat:'R$'}}</p>
    </div>
    <div class="desc">
      <label>{{product.descricaoAmigavel}}</label>
    </div>
  </div>

  <ion-list padding>
    <ion-item-divider>
        Onde está mais barato:
    </ion-item-divider>
    <ion-item>
      {{product.emitentePrecoMin.nome_fantasia}}
    </ion-item>
    <ion-item>
      {{product.precoMin | currencyFormat:'R$'}}
    </ion-item>

    <ion-item-divider>
      Onde está mais caro:
    </ion-item-divider>
    <ion-item>
      {{product.emitentePrecoMax.nome_fantasia}}
    </ion-item>
    <ion-item>
      {{product.precoMax | currencyFormat:'R$'}}
    </ion-item>
  </ion-list>
</ion-content>
